@model OrderDetailViewModel

<div class="container-fluid">
    <div class="row">

        <!-- 主要內容區 -->
        <main class="col ms-sm-auto px-md-4">

            <!-- 商品列表 -->
            <div class="row row-cols-1">
                <div class="accordion" id="accordionPanelsStayOpenExample">                    
                @foreach(var item in Model.orderInfos)
                {
                    <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne-@item.OrderId">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-@item.OrderId" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne-@item.OrderId">
                                <div class="row row-cols-1 row-cols-sm-3 w-100">
                                        <span class="col col-sm-7">@item.OrderId</span>
                                        <span class="col col-sm-2">@Model.productItemForOrders.Where(x => x.OrderId == item.OrderId).Count()</span>
                                        <span class="col col-sm-3">@item.PayPrice.ToString("C0")</span>
                                </div>
                            </button>
                        </h2>
                            <div id="panelsStayOpen-collapseOne-@item.OrderId" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne-@item.OrderId">
                            <div class="accordion-body">
                                @foreach(var item1 in Model.productItemForOrders.Where(x => x.OrderId == item.OrderId).ToArray())
                                {
                                    <div class="row mb-3 mb-sm-2">
                                        <div class="col-sm col-sm-7">商品名稱：@item1.Name</div>
                                        <div class="col-sm col-sm-2">數量：@item1.Num</div>
                                        <div class="col-sm col-sm-3">單價：@item1.Price.ToString("C0")</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                    
                </div>
            </div>

        </main>
    </div>
</div>
