@model Login

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="mb-4">Login</h2>
            <form method="post" asp-controller="Login" asp-action="Index" id="loginForm">
                <div class="mb-3">
                    <label for="UserName" class="form-label">UserName(帳號：123、密碼：123)</label>
                    <input type="text" class="form-control" asp-for="UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">PassWord</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="hidden" value="@ViewData["ReturnUrl"]" name="returnUrl">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}