@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="mb-4">Login</h2>
            <form method="post" asp-controller="Login" asp-action="Index" id="loginForm">
                <div class="mb-3">
                    <label for="userLogin.UserID" class="form-label">帳號</label>
                    <input type="text" class="form-control" asp-for="userLogin.UserID">
                    <span asp-validation-for="userLogin.UserID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="userLogin.Password" class="form-label">密碼</label>
                    <input type="password" class="form-control" asp-for="userLogin.Password">
                    <span asp-validation-for="userLogin.Password" class="text-danger"></span>
                </div>
                <input type="hidden" value="@ViewData["ReturnUrl"]" name="returnUrl">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}