@model UserInfo

<h3>運用JQuery Validation</h3>


    <form method="post" asp-action="Index" id="yourFormId">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="username">帳號(可輸入123判斷已存在的資料)</label>
        <input type="text" class="form-control" asp-for="UserID">
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="password">密碼</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="confirmPassword">確認密碼</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="birthday">生日</label>
        <input type="date" class="form-control" asp-for="Birthday" value="2019-01-01">
        <span asp-validation-for="Birthday" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="address">地址</label>
        <input type="text" class="form-control" asp-for="Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">提交</button>
    </form>

<partial name="~/Views/Shared/_AlertPartial.cshtml" />

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        //自訂驗證方法
        //日期必須大於2020/01/01
        $.validator.addMethod("dateafter",
            function (value, element, param) {
                var date = new Date(value);
                return date >new Date('2020/01/01');
            });

        $.validator.unobtrusive.adapters.addBool("dateafter");
    </script>
}

