@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="form-group">
        <label for="username">帳號</label>
        <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="password">密碼</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">確認密碼</label>
        <input type="password" class="form-control" id="confirmPassword">
    </div>
    <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="address">地址</label>
        <input type="text" class="form-control" id="address">
    </div>
    <div class="form-group">
        <label for="birthday">生日</label>
        <input type="date" class="form-control" id="birthday">
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>
